{% extends 'jf/base_page.html' %}

{% block title %}
    {{ form.page_title }}
{% endblock %}

{% block content %}
    <h1>{{ form.page_title }}</h1>

    <form action="" method="POST">
        {% csrf_token %}
        {% if error %}
            <div class="field-error">{{ error }}</div>
        {% endif %}
        {% for field in form %}
            <div class="field">
                {% if field.errors %}
                    <div class="field-error">{{ field.errors }}</div>
                {% endif %}
                {{ field.label }}
                {{ field }}
            </div>
        {% endfor %}
        <button type="submit" class="btn">{{ form.submit_btn }}</button>
    </form>
{% endblock %}